<div class="row">
  <div class="col-12">
    <h2>Welcome! to Freelance FE</h2>
  </div>
</div>
<div class="row py-4">
  <div class="col-12">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur mi risus. Nam varius elit felis, at sodales purus viverra in. Praesent mollis lorem sed porttitor tempor. Maecenas et arcu et felis laoreet consequat. Praesent eu efficitur sem, eget eleifend nibh. Morbi sit amet eros sit amet ante ornare eleifend et elementum velit. Sed dictum, est quis mollis varius, ante lorem ultrices augue, quis venenatis lacus erat vel nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam dapibus non eros eu semper.
    </p>
    <p>
      Proin quis faucibus risus. Nam scelerisque vel arcu ac molestie. Praesent in vestibulum neque. Etiam eleifend eu urna ullamcorper fermentum. Nam lacinia, tellus in porttitor tristique, magna felis sagittis arcu, id porta dui ante non diam. Ut lobortis tincidunt est vitae tincidunt. Ut hendrerit elit justo, eu facilisis turpis elementum sit amet. Nam at porttitor nibh. Pellentesque vitae viverra arcu, in ornare ante. Phasellus iaculis magna sed turpis imperdiet, nec rhoncus neque tincidunt. Nullam sed tincidunt erat. Vivamus placerat mattis consectetur.
    </p>
  </div>
</div>